body{
  background-color: #fff;
}
nav{
  position: absolute;
}
ul{
  top:115px;
  left:50%;
  color:#000;
  width: 100%;
  height: 40%;
  background-color: #000;
  list-style: none;
}
li{
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 19%;
}
